.Container 
{
	padding: 0;

	align-items: flex-start;
}

.ImagesContainer 
{
	height: 100%;
	position: relative;

	flex-flow: row;

	transition: transform 1s;
}

.ImageContainer
{
	flex-flow: column;

	position: absolute;

	height: 100%;
	width: 100vw;
}

.Image
{
	width: 100%;
	height: 60%;
	flex: 1;
}